<li class="list" data-id="<%=list.id%>">
  <div class="view">
    <input class="toggle" type="checkbox" checked="">
    <%= button_to "Delete", { action: "destroy", id: list.id }, method: :delete, :class => "destroy" %>
    <label><%= list.name %></label>
  </div>
  <%= form_for(list, remote: :true) do |f| %>
    <%= f.text_field :name, :class => "edit" %>
  <% end %>  
</li>


